fastapi
uvicorn[standard]

python-dotenv
PyYAML

pymupdf

llama-cpp-python

langchain
langchain-core
langchain-text-splitters
langchain-astradb
astrapy

langchain-huggingface
huggingface_hub

langchain-google-genai
langchain-groq

pydantic

requests
tenacity